@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    margin: 0;
    padding: 0;
}

.wrapper{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

h1{
    width: 92%;
    margin: 2.5%;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 3.5vw;
    text-align: center;
}

h2{
    width: 100%;
    margin-top: 2.5%;
    margin-bottom: 6%;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 1.5vw;
    text-align: center;
}

button{
    background-color: transparent;
    border: 2px solid white;
    border-radius: 30px;
    color: white;
    font-size: 2vw;
    width: 80%;
    margin: 10%;
    margin-top: 2%;
    margin-bottom: 5%;
    height: fit-content;
    font-family: 'Nunito', sans-serif;
    transition: 0.2s ease;
}


.first_button{
    margin-bottom: 0%;
    margin-top: 8%;
}

button:hover{
    color: black;
    background-color: white;
}

/*-----------SidePanel-----------*/

.panel_container{
    position: absolute;
    width: 20%;
    height: 54%;
    justify-content: center;
    border-radius: 20px;
    transition: 0.6s ease;
    background-color: #FA5A00;
    top: 27%;
    left: 2%;
}

.panel_container h2{
    font-size: 1.1vw;
}

.arrows{
    height: 10%;
}

.arrows button{
    width: 40%;
    margin: 30%;
    text-align: center;
    margin-top: 2%;
}

/*-----------DropDown-----------*/

.dropdown{
    position: relative;
    margin-top: -5%;
    display: block;
}

.dropdown_content {
    font-family: 'Nunito', sans-serif;
    color: white;
    position: absolute;
    width: 90%;
    text-align: center;
    z-index: 1;
    margin-top: 2%;
    margin-left: 5%;
    border-radius: 15px;
    background-color: lightcoral;
    font-size: 18px;
}
  
.dropdown_content h3:hover{
    color: black;
    background-color: white;
    border-radius: 20px;
}

/*-----------GRID-----------*/

.grid_container{
    width: 100%;
    margin: auto;
}

.grid{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-rows: repeat(22, 2.425vw);
    grid-template-columns: repeat(41, 2.425vw);
}

.block{
    border: 1px solid #96ADE9;
    background-color: white;
    font-family: 'Nunito', sans-serif;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

.symbol{
    color: black;
    margin: auto;
    margin-top: 5.5%;
    margin-left: -2%;
}

.weight{
    color: black;
}

/*clearButton*/

.clear_button{
    color: lightgray;
    border: 2px solid lightgray;
}

.clear_button:hover{
    color: lightgray;
    border: 2px solid lightgray;
    background-color: transparent;
}

.debug{
    position: absolute;
    right: 0.5%;
    top: 1%;
    z-index: 2;
}

.cost{
    font-family: 'Nunito', sans-serif;
    position: absolute;
    left: 0.5%;
    top: 2.3%;
    z-index: 1;
    background-color: #CAF5DB;
    padding: 1%;
    border-radius: 50px;
}

.error_msg{
    font-family: 'Nunito', sans-serif;
    position: absolute;
    right: 0.5%;
    top: 2.3%;
    z-index: 1;
    background-color: #ff9a9c;
    padding: 1%;
    border-radius: 50px;   
}