@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    min-width: 300px;
    min-height: 750px;
    overflow: hidden;
}

h1 {
    width: 100%;
    margin: 0;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 3.5vw;
    text-align: center;
}

h2 {
    width: 100%;
    margin-top: 2.5%;
    margin-bottom: 6%;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 1.5vw;
    text-align: center;
}

button {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 30px;
    color: white;
    font-size: 2vw;
    width: 84%;
    margin: 8%;
    margin-top: 2%;
    margin-bottom: 5%;
    height: fit-content;
    font-family: 'Nunito', sans-serif;
    transition: 0.2s ease;
}

.flex {
    display: flex;
}

.first_button {
    margin-bottom: 0%;
    margin-top: 8%;
}

button:hover {
    color: black;
    background-color: white;
}

/*-----------SidePanel-----------*/

.panel_container {
    position: absolute;
    width: 20%;
    height: 32vw;
    opacity: 0.9;
    justify-content: center;
    border-radius: 20px;
    transition: 0.6s ease;
    background-color: #FA5A00;
    top: 17%;
    left: 2%;
}

.panel_container:nth-of-type(3) {
    background-color: #2851F6;
    left: 78%;
}

.panel_container h2 {
    font-size: 1.3vw;
}

.bas_panel_up {
    top: 16%;
}

.bas_panel_down {
    top: 82%;
}

.adv_panel_up {
    top: 16%;
}

.adv_panel_down {
    top: 86%;
}

.flex h2 {
    font-size: 1.5vw;
    margin: 0;
    margin-left: 10%;
    width: 20%;
    text-align: left;
}

.arrows {
    height: 10%;
}

.arrows button {
    width: 40%;
    margin: 30%;
    text-align: center;
    margin-top: 2%;
}

/*-----------DropDown-----------*/

.dropdown {
    position: relative;
    margin-top: -5%;
    display: block;
}

.dropdown_content {
    font-family: 'Nunito', sans-serif;
    color: white;
    position: absolute;
    width: 90%;
    text-align: center;
    z-index: 1;
    margin-top: -3%;
    margin-left: 5%;
    border-radius: 15px;
    background-color: lightcoral;
    font-size: 18px;
}

.dropdown_content h3:hover {
    color: black;
    background-color: white;
    border-radius: 20px;
}

/*-----------GRID-----------*/

.grid_container {
    width: 100%;
    margin: auto;
}

.grid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-rows: repeat(22, 2.425vw);
    grid-template-columns: repeat(41, 2.425vw);
}

.block {
    border: 1px solid #96ADE9;
    background-color: white;
    font-family: 'Nunito', sans-serif;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.symbol {
    color: black;
    margin: auto;
    margin-top: 5.5%;
    margin-left: -2%;
}

.weight {
    color: black;
}

/*clearButton*/

.clear_button {
    color: lightgray;
    border: 2px solid lightgray;
}

.clear_button:hover {
    color: lightgray;
    border: 2px solid lightgray;
    background-color: transparent;
}

.debug {
    display: none;
    position: absolute;
    right: 0.5%;
    top: 1%;
    z-index: 2;
}

.cost {
    font-family: 'Nunito', sans-serif;
    position: absolute;
    left: 0.5%;
    top: 2.3%;
    z-index: 1;
    background-color: #CAF5DB;
    padding: 1%;
    border-radius: 50px;
}

.error_msg {
    font-family: 'Nunito', sans-serif;
    position: absolute;
    right: 0.5%;
    top: 2.3%;
    z-index: 1;
    background-color: #ff9a9c;
    padding: 1%;
    border-radius: 50px;
}

.slider_container {
    width: 100%;
}

.slider {
    margin-top: 6.5%;
    -webkit-appearance: none;
    width: 75%;
    height: 5px;
    margin-left: 10%;
    direction: rtl;
    background: #ae3e00;
    border-radius: 20px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
    background: lightgray;
}

.slider::-moz-range-thumb {
    color: lightgray;
}

/*-----------MODAL-----------*/

.modal_container {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.2s ease;
    background-color: rgba(0, 0, 0, 0.4);
}

.inner_modal {
    overflow: hidden;
    display: block;
    width: 60%;
    height: 80%;
    background-color: white;
    margin: 5vh auto;
    padding: 30px;
    border-radius: 24px;
    font-family: 'Nunito', sans-serif;
}

.modal_title {
    font-size: 40px;
    color: #96ADE9;
    margin: 0px;
    margin-bottom: 10px;
}

.desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75%;
    color: #96ADE9;
}

.desc img {
    height: 80%;
    border-radius: 20px;
    border: 4px solid #96ADE9;
}

.desc h3 {
    margin: 10px;
    width: 90%;
    text-align: center;
}

.modal_buttons {
    width: 100%;
    display: flex;
}

.modal_buttons button {
    margin-bottom: 0;
    color: #96ADE9;
    border: 5px solid #96ADE9;
}

.modal_buttons button:hover {
    margin-bottom: 0;
    background-color: #96ADE9;
    color: white;
    border: 5px solid #96ADE9;
}

/*-----------SCALING-----------*/
@media screen and (max-width:800px) {
    .grid {
        grid-template-rows: repeat(35, 2.425vw);
        grid-template-columns: repeat(41, 2.425vw);
    }

    .panel_container {
        width: 98%;
        height: fit-content;
        top: 60%;
        left: 1%;
    }

    .panel_container:nth-of-type(3) {
        display: none;
    }

    .panel_container h2 {
        display: none;
        font-size: 20px;
    }

    .arrows {
        display: none;
    }

    .flex {
        display: none;
    }

    button {
        font-size: 25px;
        width: 29%;
        margin: auto;
        margin: 2%;
    }

    .first_button {
        width: 90%;
        margin-left: 5%;
        margin-top: 2%;
        margin-bottom: 5%;
    }

    .dropdown {
        width: 100%;
    }

    .dropdown button {
        width: 90%;
        margin-left: 5%;
    }

    .dropdown_content {
        font-size: 15px;
    }

    .modal_wrapper {
        display: none;
    }
}

/*
button {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 30px;
    color: white;
    font-size: 2vw;
    width: 84%;
    margin: 8%;
    margin-top: 2%;
    margin-bottom: 5%;
    height: fit-content;
    font-family: 'Nunito', sans-serif;
    transition: 0.2s ease;
}*/

@media screen and (max-width:500px) {
    .panel_container {
        top: 65%;
        left: 1%;
    }

    .grid {
        grid-template-rows: repeat(35, 5vw);
        grid-template-columns: repeat(41, 5vw);
    }

    .symbol {
        font-size: 15px;
    }
}